/* Profile Wrapper */
.profile-wrapper {
    background-color: rgb(248, 244, 237); 
    position: relative;
}

/* Main Background */
main {
    background-color: rgb(248, 244, 237);
}

/* Background Photo */
.background-photo {
    background-image: url("/images/Profile/profile-background.png");
    background-size: cover;
    background-position: top;
    z-index: -1;
    width: 100%;
    height: 150px; 
}

/* Profile Container */
.profile-container {
    position: relative;
    top: 50%;
    left: 50%;
    padding-left: 13rem;
    padding-right: 13rem;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 4rem;
}

/* Profile Picture */
.profile-picture {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

/* Default Profile Picture */
.default-profile-picture {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    justify-content: center;
    align-items: center;
}

.default-profile-picture i {
    font-size: 100px; 
    color: #fff;
}

/* All Meals Title Container */
.all-meals-title-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 4rem;
}

/* All Meals Text */
.all-meals-text {
    font-size: 50px;
    color: rgb(18, 16, 59);
    font-family: "Pridi", serif;
    font-weight: 400;
    font-style: normal;
}

/* Add Button */
.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    margin-top: 30px;
    background-color: #9ddeb15a;
    color: rgb(72, 94, 83);
    border-radius: 50px;
    cursor: pointer;
    width: 100px;
    border: 2px solid orange; /* Add an orange border */
}

.add-button i {
    margin-right: 5px;
    color: rgb(63, 158, 63);
}

.add-button:hover {
    background-color: #00b31e;
}

/* Meals Photo Posts */
.meals-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* ギャップを調整 */
    justify-content: center;
}

/* Meal Items */
.meal-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 60%;
}

/* Meal Item */
.meal-item {
    flex: 1 1 calc(25% - 20px); /* 4つ並べる */
    max-width: calc(25% - 20px); /* 4つ並べる */
    background-color: rgb(248, 244, 237); /* 仮の背景色 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* Meal Photo */
.meal-photo {
    width: 100%;
    padding-bottom: 100%; /* 正方形にするためのトリック */
    background-color: rgb(248, 205, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
}

/* Meal Date */
.meal-date {
    margin-top: 10px;
    font-family: "Pridi", serif;
    font-size: 14px;
    color: rgb(18, 16, 59);
}