/* Profile */
.profile-wrapper {
    background-color: rgb(248, 244, 237); 
    position: relative;
}

.background-photo {
    background-image: url("/images/Profile/profile-background.png");
    background-size: cover;
    background-position: top;
    z-index: -1; /* プロフィール写真よりも後ろに配置 */
    width: 100%;
    height: 150px; 
}

.profile-container {
    position: relative;
    top: 50%;
    left: 50%;
    padding-left: 13rem;
    padding-right: 13rem;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: end; 
    gap: 5px;
}

.profile-picture {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.default-profile-picture {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    background-color: #ccc;
    justify-content: center;
    align-items: center;
}

.default-profile-picture i {
    font-size: 100px;
    color: #fff;
}

.user-name {
    font-family: "Pridi", serif;
    font-weight: 400;
    font-style: normal;
}

/* Profile Edit & Delete button */
.action-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 13rem;
}

.edit-button,
.delete-button {
    width: 100px;
    border: none;
    padding: 10px 20px;
    border-radius: 20px; 
    cursor: pointer;
    margin-left: 10px; /* ボタン間の余白 */
    text-align: center; /* ボタンのテキストを中央揃えにする */
}

.edit-button {
    background-color: #0e93c8;
    color: #fff; 
}

.delete-button {
    background-color: #fff;
    color: #0e93c8; 
}

.edit-button:hover,
.delete-button:hover {
    opacity: 0.6;
}

/* Profile Left & Right */
.user-display-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

/* Profile Left */
.user-basic-info{
  background-color: #fff;
  padding: 1rem;
  height: 23rem;
  width: 35rem;
}
  .user-basic-info input[type="text"],
  .user-basic-info input[type="email"],
  .user-basic-info input[type="number"],
  .user-basic-info input[type="date"],
  .user-basic-info textarea {
    border: none;
    border-bottom: 1px solid; 
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    flex: 1;
  }

.input-with-unit {
    display: flex;
    align-items: center;
}

.user-unit {
    margin-left: 5px;
}

.goal_date_icon{
    text-align: center;
    border-radius: 50%;
    background-color: #b87eeb;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    font-family: "Pridi", serif;
    font-weight: 400;
    font-style: normal;
 }
    
   .user-posts-count{
      display: flex;
      margin-top: 10px;
      margin-bottom: 10px;
    }

.check-posts-button {
    display: block; /* ブロック要素に変更 */
    margin: 0 auto; /* 左右のマージンを自動調整して中央に配置 */
    padding: 5px 20px;
    border: none;
    border-radius: 10px; 
    background-color: rgb(254,109,115);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.check-posts-button:hover {
    opacity: 0.6;
}

  /* Profile Right */
  .user-measurements{
  background-color: #fff;
  padding: 1rem;
  height: 23rem;
  width: 35rem;
  }

  .user-measurements input[type="text"],
  .user-measurements input[type="number"] {
    border: none;
    border-bottom: 1px solid;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  .weight-kg{
    display: flex;
    align-items: center;
  }

  .log-weight-history-button {
        display: inline-block;
        padding: 5px 20px;
        border: none;
        border-radius: 10px;
        background-color: rgb(52, 203, 103);
        color: white;
        font-size: 16px;
        cursor: pointer;
        margin-top: 30px;
        text-decoration: none;
    }

  .log-weight-history-button:hover {
    opacity: 0.6;
   }

  .input-with-unit{
      display: flex;
      margin-bottom: 5px;
    }

  /* Goal Bar Area */
  .tarcking-goal {
    text-align: center; 
    margin-top: 15px;
  }

.goalbar{
    width: 265px;
    margin: 0;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
}

.bar{
    display: block;
    height: 30px;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.59);
    border-radius: 30px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25, .8, .25,1);
}
.bar span{
    height: 30px;
    float: left;
    background: linear-gradient(135deg, rgb(255, 55, 112)0%, rgb(255, 159, 159)100%);
}

.tracking-goal-bar::after{
    content: '';
    display: block;
    width: 80px; 
    height: 45px; 
    background-image: url('/images/truck.png');
    background-size: cover; 
    position: relative;
    left: calc(100% - 55px);
    top: -15px;
    right: 20px;
}

@keyframes tracking-goal-bar{
    0%{
        /* width: 0%; */
    }
    /* 100%{
        width: 100%;
    } */
}
.start-goal{
    font-weight: 50px;
    color: black;
    margin: 0;
    padding: 0;
}

/* Latest Meal Container */
.latest-meal-container {
    background-color: #fff;
    width: 73rem;
    margin: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* 中央揃え */
}

.latest-meal-container p {
    text-align: center;
    margin-top: 1rem;
    font-family: "Pridi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

.latest-meal-list {
    width: 65rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.meal-item {
    width: calc(33.33% - 2rem); /* コンテナ幅の1/3、余白分の2remを除く */
    margin: 1rem;
    height: 13rem; /* 画像の高さ */
    border-radius: 15px;
    overflow: hidden;
}

.meal-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 画像を中央に配置して切り取る */
}

.view-meals-button {
   text-align: center;
   margin-bottom: 1rem;
}

.view-meals-button a{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255,174,86);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.view-meals-button:hover {
    opacity: 0.6;
}

/* BMI barometer */
.chartMenu {
        width: 100vw;
        height: 40px;
        background: #1A1A1A;
        color: rgba(54, 162, 235, 1);
    }

    .chartMenu p {
        padding: 10px;
        font-size: 20px;
    }
    
    /* Inner Box */
    .chartBox {
        width: 280px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


/* Delete Modal */
.modal-header {
    color: #FF6F61;
}

/* Cancel button */
.btn-cancel-delete {
    border-color: #FF6F61;
    color: #FF6F61;
    border-radius: 20px;
}

/* Delete button */
.btn-delete-account {
    background-color: #FF6F61;
    color: white;
    border-radius: 20px;
}

.modal-content {
    align-items: center;
}
