
.community-top{
        background-image: url("/images/community-all-posts.png");
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 150px;
    }

.community-top h1{
    color: white;
    text-align: center;
    padding: 35px;
    font-weight: bold;
    font-size: 80;
    font-family: "Pompiere", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-shadow: #B3B3B3 0 2px;
}



.fa-house{
    padding-top: 20px;
    color: #B3B3B3;
    font-size: 20px;
    padding-bottom: 10px;
    margin: 0 -35px;
    padding-right: 40px;


}

.search-bar{
    display: flex;
    padding-left: -30px;
}

.search-input{
    width: 400px;
    height: 30px;
    border-width: 1.5px;
    border-color: #FF8500;
    padding-left: 20px;
}

.search-btn{
    width: 40px;
    height: 30px;
    border: none;
    background-color: #FF8500;
    text-decoration-color: white;
    color: white;
    border: none;

}

.posts{
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
}

.new-posts{
    width: 130px;
    height: 30px;
    color: white;
    background-color: #FF8500;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.home{
    font-size: 0;

}

.home p{
    display: inline-block;
    font-size: 12px;
    color: #B3B3B3;

}

.fa-pen{
    margin-right: 3px;
}

.title{
    position: relative;
}

.fa-image{
    font-size: 60px;
    position: absolute;
    top: 50%;
    padding-left: 40px;


}

.fa-circle-user{
    font-size: 45px;
    padding-top: 10px;
    padding-left: 37px;
    text-align: center;

}

.card h2{
    color: #FF8500;
    font-size: 20px;
    padding: 20px;
    border-bottom: solid 1.5px;
    border-color: #A8D2A2;
    background-color: #D9D9D9;

}

.post-top{
    /* flex-direction: row; */
    display: inline-block;
}

.card h3{
    color: #A8D2A2;
    font-size: 25px;
    padding-top: 15px;
    font-weight: bold;
    width: 900px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

/* .card h6{
    width: 100%; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* padding-left: 188px;
    font-size: 20px;
    margin: 0%;
    display: -webkit-box;
    text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3; */

/* } */

.edit{
    color: #F8DF88;
    border: none;
    padding-top: 15px;
    font-size: 25px;
    background-color: transparent;
    /* padding-left: 80px; */
    padding-left: 50px;
}

.delete{
    color: #FD7168;
    border: none;
    padding-top: 15px;
    font-size: 25px;
    background-color: transparent;
    text-align: center;
    padding-right: 40px;
}

.icon{
    display: flex;
    gap: 5px;
}

.post-bottom{
    flex-direction: row;
    display: inline-block;
    white-space: nowrap;
    padding-left: 230px;
}

.post-b{
    display: inline-block;
}

.post-bottm p{
    color: #B3B3B3;
    margin-left: -20px;
}

.fa-comment{
    color: #B3B3B3;
    margin-right: 20px;
    font-size: 20px;
}

.fa-heart{
    color: #B3B3B3;
    margin-right: 20px;
    font-size: 20px;
}



.post-bottom{
    font-size: 0;
}

.post-bottom p{
    /* float: left; */

    display: inline-block;
    letter-spacing: normal;
    font-size: 16px;


}


/* Modal */



.modal-header h5{
    color: #F8DF88;
    font-weight: 600;
    font-size: 20px;
}

.icon-md span a{
    font-size: 6px;
    padding-left: 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #B3B3B3;

}


.img-new{
    padding-top: 50px;
    width: 50;


}

/* .add-content input{
    width: 200;
    height: 120;
} */

.modal-body{
    display: block;
}

.modal-footer{
    justify-content: center;
}

.btn-cancel{
    background-color: white;
    border-radius: 110px;
    border-color: #F8DF88;
    width: 100;
    margin-right: 10px;
    color: #F8DF88;

}

.btn-post{
    color: white;
    background-color: #F8DF88;
    border-color: #F8DF88;
    border-radius: 110px;
    width: 100;
}

/* Create New Posts / Edit Modal */

.add-title input{
    width: 400;

}

/* .add-image{
    display: flex;
    flex-direction: column;
    object-fit: cover;
} */


.fa-image-new {
    font-size: 30px;
    font-weight: 300;
    color: #B3B3B3;
    margin-top: -27px;
    margin-left: -40px;

}

.fa-image-edit{
    font-size: 30px;
    font-weight: 300;
    color: #B3B3B3;
    margin-top: -57px;
    margin-left: -40px;
}

/* Create New Posts Modal */
.newposts-btn-cancel{
    background-color: #fff;
    border-color: #A8D2A2;
    color: #A8D2A2;
    border-radius: 110px;
    width: 100;
}

.newposts-btn-post{
    background-color: #A8D2A2;
    border-color: #A8D2A2;
    color: #fff;
    border-radius: 110px;
    width: 100;
}


/* Edit Modal */
.edit-btn-cancel{
    background-color: white;
    border-radius: 110px;
    border-color: #F8DF88;
    width: 100;
    margin-right: 10px;
    color: #F8DF88;
}

.edit-btn-post{
    background-color: #F8DF88;
    border-color: #F8DF88;
    color: #fff;
    width: 100;
    border-radius: 110px;
}



/* Delete Modal */

.delete-btn-delete{
    width: 100;
    background-color: #FD7168;
    border-color: #FD7168;
    color: #fff;
    border-radius: 110px;

}

.delete-btn-cancel{
    background-color: #fff;
    border-color: #FD7168;
    color: #FD7168;
    width: 100;
    border-radius: 110px;
}

.icon-md {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.icon-sm {
    height: 60px;
    width: 60px;
    object-fit: cover;
}

