.goalbar{
    width: 600px;
    margin: 0;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
}

.prog-bar{
    flex-wrap: nowrap;
}

.bar{
    display: block;
    height: 30px;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.59);
    border-radius: 30px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25, .8, .25,1);
}
.bar span{
    height: 30px;
    float: left;
    background: linear-gradient(135deg, rgb(255, 55, 112)0%, rgb(255, 159, 159)100%);
}

.achievement{
    animation: achievement 1.8s;
}
.achievement::after{
    content: '';
    display: block;
    width: 80px; 
    height: 45px; 
    background-image: url('/images/truck.png');
    background-size: cover; 
    position: relative;
    left: calc(100% - 55px);
    top: -15px;
    right: 20px;
}

@keyframes achievement{
    0%{
        width: 0%;
    }
    /* 100%{
        width: 100%;
    } */
}
.start-goal{
    font-weight: 50px;
    color: black;
    margin: 0;
    padding: 0;
}

