.community-top{
    background-image: url("/images/community-all-posts.png");
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 150px;
}

.community-top h1{
color: white;
text-align: center;
padding: 35px;
font-weight: bold;
font-size: 80;
font-family: "Pompiere", sans-serif;
font-weight: 700;
font-style: normal;
text-shadow: #B3B3B3 0 2px;
}


.fa-circle-user{
    font-size: 70px;
    padding-left: 45px;
    text-align: center;

}

.user-img{
    transform: translateY(-15%);
}

.user{
    padding-top: 35px;
    padding-left: 50px;

}

.user-name{
    font-size: 18px;
    margin: 0%;

}

.posteddate{
    color: #B3B3B3;
}

.card h3{
    color: #A8D2A2;
    font-size: 25px;
    padding-top: 15px;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

}

.card h6{
    width: 100%;
    /* white-space: nowrap; */
    overflow: hidden;
    /* text-overflow: ellipsis; */
    /* padding-left: 188px; */
    font-size: 20px;
    margin: 0%;
    display: -webkit-box;
    text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    text-align: left;

}
.edit{
    color: #F8DF88;
    border: none;
    padding-top: 35px;
    font-size: 40;
    background-color: transparent;
    padding-left: 50px;
}

.delete{
    color: #FD7168;
    border: none;
    padding-top: 35px;
    font-size: 40px;
    background-color: transparent;
    text-align: center;
    padding-right: 40px;
}

.img{
    object-fit: cover;
}
.post-bottom{
    display: flex;
    /* padding-left: 20px; */
}

.fa-heart{
    color: #B3B3B3;
    font-size: 30px;
    display: flex;
}

.heart-count{
    /* padding-left: none; */
    font-size: 25px;
}

.fa-share{
    color: #B3B3B3;
    margin-right: 20px;
    font-size: 30px;
}

.add-comment-btn{
    color: white;
    background-color: #A8D2A2;
    border-color: #A8D2A2;
    border-radius: 110px;
    width: 250px;
    height: 40px;
    font-size: 16px;
}


/* Comments */
.user{
    font-size: 18px;

}

.user-img2{
    justify-content: right;
    font-size: 70px;
    padding-left: 45px;
    float: right;
}

.user-img2 img{
    width: 70;
    height: 70;
    margin-left: 90px;
    margin-top: 10px;

}

.comment-content{
    font-size: 20px;
    margin: 0%;

}

.comments p{
    font-size: 20px;
}


.user-1{
    justify-content: right;
    font-size: 70px;
    padding-top: 9px;
    padding-left: 45px;
    float: right;


}

.your-name{
    font-size: 18px;
    margin: 0%;

}

.your-posteddate{
    color: #B3B3B3;
}

.post-bottom1{
    transform: translateX(-20%);
    transform: translateY(-10%);

}


/* Add-comment modal */
.add-comments-btn-cancel{
    color: #A8D2A2;
    background-color: white;
    border-color: #A8D2A2;
    border-radius: 110px;
    width: 100;
}

.add-comments-btn-post {
    color: white;
    background-color: #A8D2A2;
    border-color: #A8D2A2;
    border-radius: 110px;
    width: 100;
}

.textarea{
    width: 200px;
    height: 40px;
}


/* Edit-comment modal */
.icon-md a{
    color: #B3B3B3;
    font-size: 16px;
}

.modal-body{
    justify-content: center;
}


.edit-comments-btn-cancel{
    color: #F8DF88;
    background-color: white;
    border-color: #F8DF88;
    border-radius: 110px;
    width: 100;
}

.edit-comments-btn-post {
    color: white;
    background-color: #F8DF88;
    border-color: #F8DF88;
    border-radius: 110px;
    width: 100;
}

/* Delete Comment Modal */

.modal-footer{
    justify-content: center;
}

.delete-comments-btn-cancel{
    color: #FD7168;
    background-color: white;
    border-color: #FD7168;
    border-radius: 110px;
    width: 100;

}

.delete-comments-btn-delete {
    color: white;
    background-color: #FD7168;
    border-color: #FD7168;
    border-radius: 110px;
    width: 100;
}

.icon-md {
    height: 85px;
    width: 85px;
    object-fit: cover;
}


