@import url('https://fonts.googleapis.com/css2?family=Pompiere&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Poppins';
}

html, body {
    height: 100%;
    margin: 0;
}
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
/* nav footer */
.navbar-brand img {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }

  .footer {
    background-color: #A8D2A2; 
    color: #FFFFFF;
    border-top: 1px solid #dee2e6;
    text-align: center;
    padding: 10px 0;
}

  .nav-profile-image {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%;
  }

  .nav-user-info{
    display: flex;
    align-items: center;
    gap: 3px;
  }

/* header after log-in */
  .tab-action-color {
    background-color: #E7EEF5;
  }
